# ---------------------------
# Python
# ---------------------------
__pycache__/
*.py[cod]
*$py.class

# ---------------------------
# Virtual environment
# ---------------------------
venv/
.env/

# ---------------------------
# Data files
# ---------------------------
data/*.db
ע
#data/*.json

# ---------------------------
# Jupyter Notebook
# ---------------------------
.ipynb_checkpoints/

# ---------------------------
# OS / Editor
# ---------------------------
.DS_Store
Thumbs.db
*.swp
*.swo
